<h2>Contracts</h2>

{% if user.is_authenticated %}
    <p>Logged in as: {{ user.username }}</p>
    <a href="/accounts/logout/">Logout</a>
{% else %}
    <p>Logged in as: Guest</p>
    <a href="/accounts/login/">Login</a>
{% endif %}

<a href="/register/">Register</a>
<a href="/accounts/login/">Login</a>
<a href="/upload/">Upload New Contract</a>

<ul>
    {% for contract in contracts %}
        <li>
            {{ contract.title }} - 
            <a href="{{ contract.file.url }}">View</a>
        </li>
    {% endfor %}
</ul>
<form action="/accounts/logout/" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>